/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.first {
    color: orange;
    }

.second {
    color:rgb(170, 0, 0);
}

.third {
    color: navy;
}

#hoofdtitel {
    background-color: lightgrey;
}
.special {
    color:rgb(170, 0, 0);
}
article {
    text-align: justify;
}


header {
    color: orange;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}
 img.zweefrechts {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: gray;
}




